.personalInfo_input_main {
    display: flex;
    justify-content: center;
    align-items: center;

}

.personalInfo_input_main > input[type="text"], input[type="tel"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.addHobby {
    height: 50px;
    width: 50px;
    background-color: #F4F4F5;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

.error {
    color: red;
    font-size: 12px;
}