@import './styles/App.css';
@import  './styles/PersonalInfo.css';
@import './styles/FormInput.css';
@import './styles/StepControl.css';

body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

